# ─────────────────────────────────────────────────────────────────────────────
# DOCKER COMPOSE ENVIRONMENT VARIABLES
# ─────────────────────────────────────────────────────────────────────────────
# This file contains variables used for interpolation directly into the
# docker-compose.dev.yml file (e.g., ${API_PORT}).
# These variables may or may not be passed to the container, depending on the
# 'env_file' or 'environment' configuration in the compose file.
# ─────────────────────────────────────────────────────────────────────────────

# App config
NODE_ENV=development

# Api container config
API_PORT=3000

# UI container config
UI_PORT=3001

# Postgres config
DB_HOST=postgres-server
DB_PORT=5432
DB_USER=trading_user
DB_PASSWORD=trading_password
DB_NAME=trading_db
DB_EXTERNAL_PORT=5432
