[submodule "trading-book-ui"]
	path = trading-book-ui
	url = ../trading-book-ui.git

[submodule "trading-book-api"]
	path = trading-book-api
	url = git@gitlab.trancondev.site:trading-book/trading-book-api.git
